src/main/resources/xsd/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/gestioncommandes/soap"
           targetNamespace="http://example.com/gestioncommandes/soap"
           elementFormDefault="qualified">

    <xs:element name="getOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="tns:orderInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClientOrdersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClientOrdersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orders" type="tns:orderInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientId" type="xs:long"/>
                <xs:element name="source" type="xs:string"/>
                <xs:element name="items" type="tns:orderItemInfo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="tns:orderInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:long"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateOrderStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" type="tns:orderInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="orderInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="clientId" type="xs:long"/>
            <xs:element name="clientName" type="xs:string"/>
            <xs:element name="orderDate" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="totalAmount" type="xs:decimal"/>
            <xs:element name="source" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="orderItemInfo">
        <xs:sequence>
            <xs:element name="productId" type="xs:long"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

